
.page_footer {
    width: auto;
    height: 40px;
    background-color: #f5f5f5;
    text-align: right;
    bottom: 0px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0rem;
}

.navbar-right {
    float: right !important;
    width: auto;
    margin-right: 15px;
    margin-left: 15px;
}

.row {
    margin-right: 1px;
    margin-bottom: 40px;
}

.row_content {
    margin-right: 1px;
    margin-bottom: 30px;
}

.row_footer {
    margin-right: 1px;
    margin-bottom: 5px;
}

.well {
    padding: 15px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
}

.navbar-btn .hidden-xs {
    display: inline-block !important;
}


@media (max-width: 768px) {
    .visible-xs {
        display: inline !important;
        margin-left: 20px;
    }

    .navbar-btn {
        margin-top: 30px;
        margin-bottom: 10px;
    }

    ul.navbar-nav li.inline {
        float: left; 
    }
    ul.navbar-nav li.last-inline + li {
        clear: both; 
    }
    ul.navbar-nav li.inline a { 
        padding-top: 15px;
        padding-bottom: 15px;
    }

}

