@using CuStore.WebUI.ViewModels
@model CategoriesListViewModel

@Html.ActionLink("Home", "List", "Product", null,
    new { @class="btn btn-block btn-default btn-lg"})

@using (Html.BeginForm("SearchingResultsList", "Product", FormMethod.Post))
{
    @Html.TextBox("phrase", null, new { @class = "form-control", style = "margin-top: 15px" })  
    <input type="submit" name="search" value="Search" style="margin-top: 5px" class="form-control btn btn-default"/>
}


<h3>Categories</h3>

@foreach (var category in Model.Categories)
{
    if (!category.ParentCategoryId.HasValue)
    {
        @Html.RouteLink(category.Name, new
   {
       controller = "Product",
       action = "List",
       categoryId = category.Id,
       pageNumber = 1
   }, new
   {
       @class = "btn btn-block " +
                               (Model.SelectedCategoryId.HasValue
                                       && category.Id.Equals(Model.SelectedCategoryId.Value) ? " btn-primary" : " btn-default")
                               + " pull-right"
   })
    }
    else
    {
        @Html.RouteLink(category.Name, new
   {
       controller = "Product",
       action = "List",
       categoryId = category.Id,
       pageNumber = 1
   }, new
   {
       @class = "btn btn-block " + (Model.SelectedCategoryId.HasValue
                                        && category.Id.Equals(Model.SelectedCategoryId.Value) ? " btn-primary" : " btn-default")
                                  + " btn-sm pull-right",
       style = "width:85%"
   })
    }
}
