
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Administrator panel</h3>
    </div>
    <div class="panel-body">
        @Html.ActionLink("Manage products", "ManageProducts", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Manage categories", "ManageCategories", null, new { @class = "btn btn-default" })
    </div>
    <div class="panel-footer">
        
    </div>
</div>

