@model HandleErrorInfo

@{
    ViewBag.Title = "Error details";
    Layout = "~/Views/Shared/_LayoutWithoutCategories.cshtml";
}

<hgroup>
    <h1>ERROR: @(Model.Exception.Message)</h1>
    <h2>An error occurred while processing your request.</h2>
    <h3>@(Model.ControllerName)/@(Model.ActionName)</h3>
</hgroup>

